*{
    margin: 0px;
    padding: 0px;
}
/* header related style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    
}